/* for body */
body {
	margin: 0;
	padding: 0;
	font-size: 90%;
	background: #f0f0f0;
	color: #000;
	font-family: Verdana,"MS PGothic",Osaka,Arial,sans-serif;
}
#head {
	background: #00428e;
	color: #fff;
}
#head-in {
	padding: 8px 2em;
}
h1 {
	font-size: 135%;
	margin: 0;
}
#body {
	margin-left: 1.5em;
}

/* for table */
#form-tbl {
	margin-left: 1.5em;
}
#form {
	border-collapse: collapse;
	margin: 1em 0;
}
#form th, #form td {
	border: 1px solid #666;
	padding: 8px;
}
#form th {
	white-space: nowrap;
	background: #e8e8e8;
}
#form td {
	background: #fff;
}
p.btn input {
	width: 110px;
	height: 32px;
}

/* for title */
h2 {
	font-size: 100%;
	text-align: left;
	border-left: solid 4px #ef002d;
	border-bottom: 1px solid gray;
	padding: 4px 6px;
	margin: 1.5em 0;
	width: 500px;
}

/* for message */
p.msg {
	color: #dd0000;
	margin: 2em;
}
span.msg {
	color: #dd0000;
}

/* for back-button */
form.back {
	margin-top: 2em;
}

/* スマホ用 */
@media only screen and (max-width: 480px) {
	#body { margin-left: 0; }
	
	/* 投稿フォーム */
	#form-tbl { margin: 0 auto; text-align: center; }
	#form { width: 96%; margin: 10px auto; }
    #form th, #form td {
    	text-align: left;
		width: 100%;
        display: block;
        padding: 6px 3px;
        border-top: none;
    }
    #form tr:first-child th	{ border-top: 1px solid #666; }
    p.btn input { width: 10em; }
    
	/* 小見出し */
	h2 { margin: 1em 3px; width: 90%; }
	
	/* サンクス */
	p.msg { margin: 1em auto; }
}
